<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>↓ home ↓</title>
    <link rel="shortcut icon" href="https://img.icons8.com/plasticine/100/000000/wine-glass.png"
        title="Wine by Icons8" />
    <meta charset="utf-8" />
    <meta name="description" content="White and Red: Dine and Wine" />
    <meta name="keywords" content="" />
    <meta name="author" content="Nandini Proothi" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta property="og:image:url" content="https://img.icons8.com/plasticine/100/000000/wine-glass.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="Wine by Icons8" />
    <meta property="og:title" content="White and Red" />
    <meta property="og:description" content="White and Red: Dine and Wine" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@smolpkg" />
    <meta name="twitter:image" content="https://img.icons8.com/plasticine/100/000000/wine-glass.png" />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="Wine by Icons8" />
    <meta name="twitter:description" content="White and Red: Dine and Wine" />
    <!-- all bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- add google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <!-- nav bar starts -->
    <nav class="navbar navbar-expand-lg navbar-light" style="opacity: 90%;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
            </ul>
        </div>
        <ul class="navbar-nav me-auto">
            <a class="navbar-brand" href="#">white & red</a>
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
               
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!-- nav bar ends -->
    <!--content starts-->
    <form action="https://send.pageclip.co/yHmuihUVZUjHHAqyWUsImweo4ksx2xy7" class="pageclip-form" method="post">
        <!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
        <input type="text" name="name" value="" placeholder="Enter your name" />
        <!-- radio buttons -->
        <div class="card">
            <label htmlFor="white" style="word-wrap:break-word">
                <input type="checkbox" name="sauce[white]" value="" id="white" checked/> White Sauce</label>
                <label htmlFor="red">
                <input type="checkbox" name="sauce[red]" value="" id="red" /> Red Sauce 🌶</label> <br>
        </div>
        <br>
        <div class="card">
            <label htmlFor="veggies">
                <input type="checkbox" name="veggies[yes]" value="" id="veggies" /> Veggies</label> 
                <label htmlFor="cheese">
                <input type="checkbox" name="cheese[yes]" value="" id="cheese" /> Cheese</label> <br>
        
        </div> <br>
        <div class="card">
            <label htmlFor="wine">
                <input type="checkbox" name="drink[wine]" value="" id="wine" /> Red Wine</label>
                <label htmlFor="beer">
                    <input type="checkbox" name="drink[beer]" value="" id="beer" /> Beer</label> 
                <label htmlFor="mm">
                    <input type="checkbox" name="drink[mm]" value="" id="mm" /> Minute Maid</label> <br>                 
          
        </div>
        <br>
        <!-- This button will have a loading spinner. Keep the inner span for best results. -->
        <button type="submit" class="pageclip-form__submit">
          <span>Send</span>
        </button>
      </form>
    <!--content ends-->
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>

<!-- import the webpage's client-side javascript file -->
<script src="/script.js"></script>

</html>